<div class="card">
  <div class="card-body">
    <form [formGroup]="receiptForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="issued-on-date">Issued in date: </label>
        <input
          id="issued-on-date"
          type="date"
          formControlName="issuedOnDate"
          required
        />
      </div>
      <div formArrayName="items">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Quantity</th>
              <th scope="col" class="">Regular Price</th>
              <th scope="col" class="">Discount</th>
              <th scope="col" class="">Product Category</th>
              <th scope="col" class="">Product</th>
              <th scope="col" class=""></th>
              <th scope="col" class=""></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let item of items.controls;
                let i = index;
                last as isLast;
                first as isFirst
              "
              formGroupName="{{ i }}"
            >
              <td>
                <input
                  class="form-control"
                  id="name-{{ i }}"
                  type="text"
                  formControlName="name"
                />
              </td>
              <td>
                <input
                  id="quantity-{{ i }}"
                  type="number"
                  formControlName="quantity"
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="regular-price-{{ i }}"
                  type="number"
                  formControlName="regularPrice"
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="discount-{{ i }}"
                  type="number"
                  formControlName="discount"
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="product-category-{{ i }}"
                  type="number"
                  formControlName="productCategoryId"
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="product-{{ i }}"
                  type="number"
                  formControlName="productId"
                />
              </td>
              <td>
                <button
                  *ngIf="!isFirst || items.length > 1"
                  type="button"
                  class="btn btn-danger"
                  (click)="removeItem(i)"
                >
                  -
                </button>
              </td>
              <td>
                <button
                  *ngIf="isLast"
                  type="button"
                  class="btn btn-info"
                  (click)="addItem()"
                >
                  +
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <button type="submit" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
