<div class="container">
  <h2>New Category:</h2>
  <form
    (ngSubmit)="!categoryForm.invalid && saveCategory()"
    #categoryForm="ngForm"
  >
    <div class="row mt-3">
      <fieldset class="form-group col-auto">
        <label>Category Name: </label>
        <input
          class="form-control"
          type="text"
          [(ngModel)]="categoryInstance.name"
          name="name"
        />
      </fieldset>
      <fieldset class="form-group col-auto">
        <label>Category Type: </label>
        <select
          class="form-control"
          [(ngModel)]="categoryInstance.categoryType"
          name="categoryType"
        >
          <option *ngFor="let type of categoryList" value="{{ type }}">
            {{ type.charAt(0) }}{{ type.slice(1).toLocaleLowerCase() }}
          </option>
        </select>
      </fieldset>
      <fieldset class="form-group col-auto">
        <label>Parent Category: </label>
        <select
          class="form-control"
          [(ngModel)]="categoryInstance.parentCategoryId"
          name="parentCategory"
        >
          <option selected></option>
          <option
            *ngFor="let category of categoriesToSelect"
            [value]="category.id"
          >
            {{ category.name }}
          </option>
        </select>
      </fieldset>
    </div>
    <div>
      <fieldset class="form-group">
        <label>Subcategories: </label>
        <mat-tree
          [dataSource]="dataSource"
          [treeControl]="treeControl"
          class="tree"
        >
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
            <div class="mat-tree-node">
              <button
                class="btn btn-info rounded-circle"
                type="button"
                (click)="addSubcategory(node)"
              >
                +
              </button>
              <h5 *ngIf="!node.isEdited">{{ node.name }}</h5>
              <input
                *ngIf="node.isEdited"
                type="text"
                [(ngModel)]="node.name"
                name="name"
              />
              <button
                class="btn btn-warning"
                type="button"
                [class.edited]="node.isEdited"
                [class.btn-invisible]="node.isEdited"
                (click)="setEditMode(node)"
              >
                e
              </button>
              <button
                class="btn btn-success"
                type="button"
                [class.edited]="node.isEdited"
                [class.btn-invisible]="!node.isEdited"
                (click)="acceptChanges(node)"
              >
                s
              </button>
              <button
                class="btn btn-danger"
                type="button"
                [class.edited]="node.isEdited"
                (click)="deleteSubcategory(node)"
              >
                d
              </button>
            </div>
          </mat-tree-node>

          <mat-nested-tree-node
            *matTreeNodeDef="let node; when: hasChild"
            matTreeNodeToggle
          >
            <div class="mat-tree-node">
              <button
                class="btn btn-info rounded-circle"
                type="button"
                (click)="addSubcategory(node)"
              >
                +
              </button>
              <h5 *ngIf="!node.isEdited">{{ node.name }}</h5>
              <input
                *ngIf="node.isEdited"
                type="text"
                [(ngModel)]="node.name"
                name="name"
              />
              <button
                class="btn btn-warning"
                type="button"
                [class.btn-invisible]="node.isEdited"
                [class.edited]="node.isEdited"
                (click)="setEditMode(node)"
              >
                e
              </button>
              <button
                class="btn btn-success"
                type="button"
                [class.btn-invisible]="!node.isEdited"
                [class.edited]="node.isEdited"
                (click)="acceptChanges(node)"
              >
                s
              </button>
              <button
                class="btn btn-danger"
                type="button"
                [class.edited]="node.isEdited"
                (click)="deleteSubcategory(node)"
              >
                d
              </button>
            </div>
            <div role="group">
              <ng-container matTreeNodeOutlet></ng-container>
            </div>
          </mat-nested-tree-node>
        </mat-tree>
        <button
          class="btn btn-info"
          type="button"
          (click)="addSubcategory(categoryInstance)"
        >
          Add New Root Subcategory
        </button>
      </fieldset>
    </div>
    <button type="submit" class="btn btn-success">Save changes</button>
  </form>
</div>
